<header class="header">
  <h1 class="header__title">кошик товарів</h1>
</header>
<section class="card">
  <div class="container">
    <ng-container *ngIf="productList.length === 0">
      <div class="card__empty">
        <h1 class="card__empty-title">Кошик порожій</h1>
      </div>
    </ng-container>
    <ng-container *ngIf="productList.length > 0">
      <div class="card__list">
        <ng-container *ngFor="let product of productList">
          <mat-card class="card__item">
            <mat-card-title class="card__item-title"
              >{{ product.group }} - {{ product.album }}</mat-card-title
            >
            <mat-card-subtitle class="card__item-subtitle"
              >{{ product.price }} грн.</mat-card-subtitle
            >
            <mat-card-content>
              <button
                mat-stroked-button
                class="delete-btn"
                (click)="removeItemFromCard(product)"
              >
                Вилучити
              </button>
            </mat-card-content>
            <img mat-card-md-image src="{{ product.img }}" />
          </mat-card>
        </ng-container>
        <form name="cardForm">
          <mat-form-field class="card__input" appearance="fill">
            <mat-label>Ім'я</mat-label>
            <input matInput placeholder="" value="" required />
          </mat-form-field>
          <mat-form-field class="card__input" appearance="fill">
            <mat-label>Призвіще</mat-label>
            <input matInput placeholder="" value="" />
          </mat-form-field>
          <mat-form-field class="card__input" appearance="fill">
            <mat-label>Номер телефону</mat-label>
            <input matInput placeholder="" value="+380" required />
          </mat-form-field>
          <mat-form-field class="card__input" appearance="fill">
            <mat-label>Вулиця доставки</mat-label>
            <input matInput placeholder="" value="" required />
          </mat-form-field>
          <mat-form-field class="card__input" appearance="fill">
            <mat-label>Номер дому</mat-label>
            <input matInput placeholder="" value="" required />
          </mat-form-field>
          <mat-form-field class="card__input" appearance="fill">
            <mat-label>Під'їзд</mat-label>
            <input matInput placeholder="" value="" />
          </mat-form-field>
          <mat-form-field class="card__input" appearance="fill">
            <mat-label>Код домофону</mat-label>
            <input matInput placeholder="" value="" />
          </mat-form-field>
          <div class="card__total">
            <strong>Загальна сумма: {{ totalPrice }}грн.</strong>
          </div>
          <div class="card__buttons">
            <button mat-stroked-button class="card-btn" routerLink="">
              Продовжити покупку
            </button>
            <button
              mat-stroked-button
              class="card-btn"
              (click)="emptyFromCard()"
            >
              Очистити кошик
            </button>
            <button
              mat-raised-button
              class="succusess-btn"
              routerLink="/succusess"
              ng-disabled="cardForm.$invalid"
            >
              Підтвердити замовлення
            </button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</section>
